:root {
  --border-color: #e0e0e0;
  --background-color: #fff;
  --text-color: rgb(60, 64, 67);
  --hover-color: rgb(243, 243, 243);
  --active-color: #d8d8d8;
  --border-line: rgb(218, 220, 224);
}
button {
  background-color: #0074cc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
#current-month-year {
  font-size: 20px;
}
.customNav {
  border: 1px solid var(--border-color);
  padding: 0.6rem 1.5rem;
}
.todayButton {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 0.97rem;
  transition: all ease-in 0.4s;
  padding: 0 1rem;
}
.todayButton:hover {
  background-color: var(--hover-color);
}
.section-1 {
  margin-left: 3rem;
}
.actionButton-container {
  margin-left: 1.7rem;
}
.actionButton {
  padding: 0;
  height: 32px;
  width: 32px;
  background-color: var(--background-color);
  color: rgb(95, 99, 104);
  border-radius: 50%;
  transition: all ease-in 0.4s;
}
.actionButton:hover {
  background-color: var(--hover-color);
}
.actionButton:active {
  background-color: var(--active-color);
}
.rowBorder {
  border-bottom: 1px solid var(--border-line);
}
.columnBorder {
  border-left: 1px solid rgb(218, 220, 224);
}
.col {
  padding: 5px 15px 60px 15px;
  font-size: 14px;
  cursor: pointer;
  height: 86px;
  overflow: hidden;
}
.col-active {
  background-color: var(--hover-color);
}
.col:hover {
  background-color: var(--hover-color);
}
.days {
  color: #70757a;
  font-size: 12px;
  margin: 0;
}
.anotherCalendarColor {
  color: #70757a;
}
.today .forToday {
  border-radius: 50%;
  padding: 4px;
  background: rgb(26, 115, 232);
  color: white;
}
.floater {
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: none;
  transition: all 0.5s ease;
}

.navFloater {
  padding: 10px 30px;
  background-color: rgb(241, 243, 244);
  height: auto;
}
.inputTask {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--border-line);
  width: 100%;
  transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.6s;
  font-size: 20px;
}
.inputTask:focus {
  border-bottom: 2px solid rgb(26, 115, 232);
}
.inputDescription {
  outline: none;
  border: none;
  background-color: rgb(241, 243, 244);
  height: 200px;
  width: 100%;
}
.colorSelection {
  outline: none;
  border: none;
  background-color: rgb(241, 243, 244);
  width: 250px;
  padding: 5px 15px;
}
.colorSelection option {
  background-color: rgb(241, 243, 244);
}
.close {
  background: rgb(241, 243, 244);
  color: black;
  border-radius: 50%;
  padding: 0;
  width: 22px;
  height: 22px;
  font-size: 15px;
  transition: all ease-in-out 0.4s;
}
.close:hover {
  background: #d4d4d4;
}
.tasks {
  overflow: auto;
  /* border: 1px solid; */
  background: rgb(241, 243, 244);
  padding: 5px 10px;
  border-radius: 5px;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}
.titleTODO {
  margin-bottom: 7px;
  padding: 6px 8px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  background-color: white;
  transition: all ease 0.5s;
}
.titleTODO:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title {
  background: rgb(241, 243, 244);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
.todoInDate {
  display: block;
  text-align: justify;
  margin-top: 2px;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  font-weight: 500;
  transition: all ease-in-out 0.4s;
}
.todoInDate:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.colorPalete {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline;
}
.motivational-box {
  margin: 25px 10px 0 10px;
  background: rgb(241, 243, 244);
  border-radius: 5px;
}
.m-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(80 80 80);
  width: 100%;
  padding: 8px;
}
.motivation {
  margin: 15px 10px 0 10px;
}
.motivationLoader {
  margin: 15px 10px 0 10px;
}
.authorDiv {
  font-size: 12px;
  padding: 12px 0;
  /* margin-top: 15px; */
  margin: 15px;
}

.lds-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(26, 115, 232);

  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(26, 115, 232) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.edit-message {
  border: 1px solid;
  position: absolute;
  right: 0;
  background: #198754;
  color: white;
  transition: all 0.5s ease-in-out;
}
.horizontal-loader {
  height: 8px;
  width: 0; /* Initial width is 0 */
  background-color: #3498db; /* Blue color */
  animation: progress 6s linear infinite; /* Progress animation, adjust the duration as needed */
}
.edit-message:not(.loading) {
  display: none;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* Full width */
  }
}

/* Style the buttons */
.filterBtn {
  margin: 9px 4px;
  /* width: 6rem; */
  padding: 7px 16px;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  color: black;
  cursor: pointer;
  border-radius: 4px;
}

/* Add a light grey background on mouse-over */
.filterBtn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.filterBtn.active {
  background-color: #666;
  color: white;
}
